<h1>Eat Da Burger!</h1>

<div>
    <img src="/public/assets/images/burger.jpg" alt="eating a burger">
</div>

<form>
  <div class="form-group">
    <label for="burgerYouWantToEat">Enter A Burger You Want To Eat</label>
    <input type="text" class="form-control" id="" placeholder="Burger you want to eat">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>