img {
    width: 600px;
    height: 338px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.jumbotron {
    background: firebrick;
}

h1, label {
    color: white;
}